@import './reset.scss';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './sidebar.scss';


.container{
  padding: 20px;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
